In [1]:
import numpy as np

### **Exercise 1:**
Write a function to solve a quadratic equation. Use the formula with the discriminant, only find the real solutions, if they don't exist print some message.

Hint: for the square root just use the power 0.5 to avoid having to call a special function which we haven't seen yet.

In [2]:
def quadratic_eq():

    print("write the coefficients (a,b,c) one at a time and press enter for ax^2 + bx + c:")
    a = float(input())
    b = float(input())
    c = float(input())
    print("numbers, ", a, b, c)
    
    d = b**2 - 4*a*c
    if d >= 0:
        x1 = (-b + d**0.5)/(2*a)
        x2 = (-b - d**0.5)/(2*a)
        print("roots:", x1, x2)
    else: 
        print("Roots are imaginary")
        x1= "imaginary"
        x2= "imaginary"
    return x1, x2
r1, r2 =quadratic_eq()

write the coefficients (a,b,c) one at a time and press enter for ax^2 + bx + c:

 1
 5
 6

numbers,  1.0 5.0 6.0
roots: -2.0 -3.0

In [3]:
# imaginary roots
r1,r2=quadratic_eq()

write the coefficients (a,b,c) one at a time and press enter for ax^2 + bx + c:

 1
 2
 3

numbers,  1.0 2.0 3.0
Roots are imaginary

### **Exercise 2:**
The Recamán sequence is a famous sequence invented by the Colombian mathematician, Bernardo Recamán Santos. It is defined by the following algorithm, starting at $a_0=0$:

$ a_n=a_{n-1}−n$ if $a_{n-1}-n > 0  $ and has not already appeared in the sequence; 

$ a_n=a_{n−1}+n$ otherwise

Write a function that returns the first N elements of this sequence.

You can use lists or sets to store the numbers.

(to check that it works - you should get 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22, 10, 23, 9, 24, 8, 25, 43, 62, 42, 63, 41, 18, 42, 17, 43, 16, 44, 15, 45, 14, 46, 79, 113, 78, 114, 77, 39, 78, 38, 79, 37, 80, 36, 81, 35, 82)

In [81]:
def rseq():
    seq = [0]

    n = int(input("enter a number: "))
    i = 1

    while i<n:
        a1 = seq[i-1] - i
        if a1 > 0 and a1 not in seq :
            seq.append(a1)
        else: 
            seq.append(seq[i-1] + i)
        i = i+1
    print(seq)
    return seq
rseq()

enter a number:  20

[0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22, 10, 23, 9, 24, 8, 25, 43, 62]

[0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22, 10, 23, 9, 24, 8, 25, 43, 62]

### **Exercise 3**
Print the list `mylist` sorted in descending order. The original list should not be modified

In [4]:
mylist=[1,-99,89,0,234,77,-748,11]
mylist.sort()

print("list in descending order", mylist[::-1])

list in descending order [234, 89, 77, 11, 1, 0, -99, -748]

### **Exercise 4:**
Given 2 lists, produce a list containing common items between the two.

In [5]:
list1 = {1,2,3,4,5,6,7}
list2 = {11,5,6,7,8,9,10}

list3 = list1 & list2
print(list3)

{5, 6, 7}

### **Exercise 5:**
Create a function that returns a list of all pairs of factors (as tuples) of a given number using list comprehension.

In [6]:
def factors():
    print("input a number:")
    m = int(input())
    
    print( [(x,y) for x in range(m+1) for y in range(m+1) if x*y==m])
  
factors()

input a number:

 10

[(1, 10), (2, 5), (5, 2), (10, 1)]

### **Exercise 6:**
Create a list of all numbers divisible by 3 and smaller than 1000 in 4 different ways:
 
 - naive way where you just create a list and append data in a loop
 - using list comprehension
 - slicing an existing list
 - directly with `range()`

Time all of them.

In [16]:
%%timeit
fac = []
for i in range(0,1000,3):
    fac.append(i)

5.07 μs ± 15.5 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [17]:
# with range
list1 = []
for i in range(0,1000,3):
    list1.append(i) 
print(fac)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [18]:
%%timeit
list2 = []
for i in range(1,1000):
    if i%3 == 0:
        list2.append(i)

23.3 μs ± 16.9 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [19]:
# naive way
list2 = []
for i in range(1,1000):
    if i%3 == 0:
        list2.append(i)   
print(list2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [20]:
%%timeit
list3 = []
list3.append([x for x in range(1000) if x%3==0])

23.3 μs ± 61.4 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [22]:
# using list comprehension
list3 = []
list3.append([x for x in range(1000) if x%3==0])
print(list3)

[[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]]

In [23]:
# slicing
list4 = []
for i in range(0,1001):
    list4.append(i)

In [24]:
%%timeit
list5 = []
list5.append(list4[3::3])

437 ns ± 5.53 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [25]:
#slicing
list5 = []
list5.append(list4[3::3])
print(list5)

[[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]]

### **Exercise 7:**
Write a function to check if a string (containing spaces and capital letters, but no punctuation marks) is a palindrome (use help to see which functions are available for a string).

In [73]:
def palindrome():
    a = str(input("write a word:"))
    b = a.upper()
    m = len(b)
    word = []
    
    for i in range(m):
        if b[i] == " ":
            b.replace(" ","")
        else:
            word.append(b[i])
    
    print(word)
    reverse = word[::-1]
    print(reverse)

    if word == reverse:
        print("The word is a palindrome")
    else:
        print("The word is not a palindrome")

In [75]:
palindrome()

write a word: a b c d dcba

['A', 'B', 'C', 'D', 'D', 'C', 'B', 'A']
['A', 'B', 'C', 'D', 'D', 'C', 'B', 'A']
The word is a palindrome

### **Exercise 8:**
Write a function to find a character with a maximum number of occurences in a string. Return a tuple with that character and the number. You can ignore ties. Only use string's inbuilt functions and the function `max` (use help to see how to use it).

In [111]:
def max_occur():
    a = str(input("write a word:"))
    freq = max(a, key=a.count)
    num = a.count(freq)
    t = (freq, num)
    print(t)
    return t
max_occur()

write a word: this has a lot of aaaaas

('a', 7)

('a', 7)

### **Exercise 9:**
Write a function that return the first N prime numbers using the Sieve of Eratosphenes algorithm

https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

In [ ]:
def primes():
    n = int(input("N:"))
    m = 2
    a = [True]*n
    for i in range(m,n,2) and i < np.sqrt(n):
        if a[i] is True:
            for j = i**2, i**2 + i, i**2 + 2*i, i**2 +3*i:
            a[j] := False
        else a[i] is True